.vs/slnx.sqlite
.vs/MyWebsiteHTML/FileContentIndex/f60ea383-5f98-44af-994f-fad44da25ac5.vsidx
.vs/MyWebsiteHTML/FileContentIndex/61e58c54-e975-4de4-b7d7-902ce0012496.vsidx
.vs/MyWebsiteHTML/FileContentIndex/a45f3597-1965-454c-84dc-31aa0bb5d8f2.vsidx
.vs/MyWebsiteHTML/FileContentIndex/edc9d3dd-8cf4-404e-aa41-b0c5b82100b6.vsidx
node_modules/
.vs